.mat-card-image {
    height: 180px;
}
.img-container {
    height: 180px;
    padding: 15px;
}
.mat-card  {
    min-height: 28em;
}

.mat-card-image {
    width: calc(100% + 32px);
}

.flight-name {
    font-size: 20px;
    margin-bottom: 1em;
}
.launch-year {
    font-weight: 590;
}