.mat-raised-button {
    background-color: #383434;
}
.fiftyPercent {
    width: 50%;
}
button {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color:#fff;
}
h5 {
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid;
}
.lastRow {
    margin-bottom: 10px;
}
.selected {
    background:#579e57;
}