.info-card {
    margin:30px 0 0 0;
}
.mat-form-field-infix {
    color: white;
    font-size: 16px;
}
input, label, span, .check {
    color: #fff !important;
}
.mat-form-field {
    margin-top:15px;
}
.check {
    margin-top: 15px;
}